html {
    background-color: darkgrey;
}
header {
    background-color: rgb(68, 65, 65);
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    color: azure;
}
.navbar {
    display: flex;
    gap: 1rem;
 list-style: none;
    
}
a{
    text-decoration: none;
    color: white;
}
#name{
    color:darkblue;
}